@keyframes show-message-right{
    0%{
        opacity: 0;
        transform: translateX(10px);
    }

    100%{
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes show-message-left{
    0%{
        opacity: 0;
        transform: translateX(-10px);
    }
    
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes show-text-top-to-bottom{
    0%{
        opacity: 0;
        transform: translateY(-20px);
    }

    75%{
        opacity: 0.5;
        transform: translateX(-2px); 
    }

    100%{
        opacity: 1;
        transform: translateX(0);
    }
}