@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&family=Rubik:wght@400;500;700&display=swap');

*, *::before, *::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --bg: hsl(270, 36%, 34%);
    --light-magenta-grad: hsl(293, 100%, 63%);
    --light-purple-grad: hsl(264, 100%, 61%);
    --header-magenta: hsl(271, 36%, 24%);
    --receiver-message: hsl(276, 55%, 52%);
    --sender-message: hsl(271, 15%, 43%);
    --placeholder-text: hsl(206, 6%, 79%);
    --paragraph-text: hsl(270, 7%, 64%);
    --app-bg: hsl(270, 20%, 96%);
    --submit-bg: hsl(271, 36%, 24%);
    --radio-bg: hsl(289, 100%, 72%);
    font-size: 10px;
}

body{
    display: flex;
    font-family: Rubik;
    flex-direction: column;
    min-height: 100vh;
    padding: 2rem 0;
    position: relative;
    background-color: var(--app-bg)
}

body::before, body::after{
    position: absolute;
    content: '';
    width: 90vw;
    height: 70vh;
    z-index: -1;
}

body::before{
    background-image: linear-gradient(to bottom, var(--light-magenta-grad), var(--light-purple-grad));
    border-radius: 0 0 50% 50%;
    left: -40vw;
    top: -20vh;
}

body::after{
    background-color: rgba(173, 173, 173, 0.103);
    border-radius: 50% 50% 0 0;
    right: -40vw;
    bottom: -20vh;
}

.cellphone{
    width: 70%;
    background: white;
    z-index: 1;
    border-radius: 30px;
    margin: 5rem auto 0 auto;
    box-shadow: 3px 3px 10px rgba(0,0,0, 0.5);
    padding: 1rem;
    position: relative;
}

.camera{
    width: 60%;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    height: 2rem;
    position: absolute;
    border-radius: 0 0 20px 20px;
    top: 4px;
}

nav{
    width: 100%;
    border-radius: 30px 30px 10px 10px;
    height: 5.3rem;
    background-image: linear-gradient(to left, 
                                      var(--light-magenta-grad), 
                                      var(--light-purple-grad)
                                      );
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.8rem;
    padding: 2.2rem 1rem 1rem 1rem;
}


nav img{
    max-width: auto;
    max-height: 2rem;
    border-radius: 50%;
    outline: 1px solid white;
}

nav i{
    color: white;
}


.name{
    color: #fff;
}

.status{
    color: lightgray;
    font-size: 0.6rem;
}

.fa-ellipsis-v{
    margin-left: auto;
}

.display{
    height: 100%;
    width: 100%;
    background: var(--app-bg);
    border-radius: inherit;
}


.messages{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.message{
    width: 70%;
    border-radius: 20px;
    padding: 0.5rem 1rem;
}

.sender{
    align-self: flex-end;
    background-color: white;
    animation-name: show-message-right;
    animation-duration: 2s;
    color: var(--sender-message)
}

.sender:not(.images){
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.images{
    background-color: transparent;
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;
    padding: 0;
}

.images img{
    width: auto;
    height: 3.5rem;
    border-radius: 10px;
}

.receiver{
    align-self: flex-start;
    background-color: rgba(238, 238, 238, 0.747);
    animation-name: show-message-left;
    animation-duration: 2s;
    color: var(--receiver-message)
}

.service{
    display: flex;
    background-image: linear-gradient(to right, 
                                        var(--light-magenta-grad), 
                                        var(--light-purple-grad)
                                        );
    justify-content: flex-start;
    align-items: center;
    width: 85%;
    gap: 1rem;
    color: white;
    padding: 1rem;
}

.price{
    margin-left: auto;
    font-weight: bolder;
    font-size: 1.2rem;
}


.send-message{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    background-color: white;
    padding: 1.2rem 1.5rem;
    border-radius: 40px;
}

.send-message--text{
    color: var(--placeholder-text)
}

.send-message i{
    color: white;
    padding: 0.8rem 1rem;
    background: var(--submit-bg);
    border-radius: 50%;
}


.text{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    text-align: center;
    padding: 2rem;
    margin-top: 1rem;
    animation: show-text-top-to-bottom 2s;
}

.text h1{
    font-size: 2.5rem;
    font-weight: 400;
    color: var(--header-magenta);
}

.text p{
    line-height: 2rem;
    color: var(--paragraph-text);
}





