@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&family=Rubik:wght@400;500;700&display=swap');

*, *::before, *::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --bg: hsl(270, 36%, 34%);
    --light-magenta-grad: hsl(293, 100%, 63%);
    --light-purple-grad: hsl(264, 100%, 61%);

}

body{
    display: flex;
    font-family: Rubik;
    flex-direction: column;
    min-height: 100vh;
    padding: 2rem 0;
    position: relative;
}

body::before, body::after{
    content: '';
    width: 90vw;
    height: 70vh;
}

body::before{
    background-image: linear-gradient(to bottom, var(--light-magenta-grad), var(--light-purple-grad));
    position: absolute;
    border-radius: 0 0 50% 50%;
    left: -40vw;
    top: -20vh;
    z-index: -1;
}

body::after{
    background-color: rgba(173, 173, 173, 0.103);
    position: absolute;
    border-radius: 50% 50% 0 0;
    right: -40vw;
    bottom: -20vh;
    z-index: -1;
}

.cellphone{
    width: 90%;
    background: white;
    z-index: 1;
    border-radius: 30px;
    margin: 5rem auto 0 auto;
    box-shadow: 3px 3px 10px rgba(0,0,0, 0.5);
    padding: 1rem;
    position: relative;
}

.camera{
    width: 60%;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    height: 2rem;
    position: absolute;
    border-radius: 0 0 20px 20px;
    top: 4px;
}

nav{
    width: 100%;
    border-radius: 30px 30px 10px 10px;
    height: 5.3rem;
    background-image: linear-gradient(to left, 
                                      var(--light-magenta-grad), 
                                      var(--light-purple-grad)
                                      );
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.8rem;
    padding: 2.2rem 1rem 1rem 1rem;
}


nav img{
    max-width: auto;
    max-height: 2rem;
    border-radius: 50%;
    outline: 1px solid white;
}

nav i{
    color: white;
}


.name{
    color: #fff;
}

.status{
    color: lightgray;
    font-size: 0.6rem;
}

.fa-ellipsis-v{
    margin-left: auto;
}

.display{
    height: 100%;
    width: 100%;
    background: rgba(211, 211, 211, 0.164);
    border-radius: inherit;
}


.messages{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.message{
    width: 70%;
    border-radius: 20px;
    padding: 0.5rem 1rem;
}

.sender{
    align-self: flex-end;
    background-color: white;
}

.receiver{
    align-self: flex-start;
    background-color: rgba(128, 128, 128, 0.158);
   
}

.send-message{
    align-self: stretch;
    background-color: white;
    padding: 1.2rem 2rem;
    border-radius: 20px;
}

.text{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    text-align: center;
    padding: 2rem;
}



